.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/support/redis/dump.rdb
spec/support/redis/stdout
.rbenv-version
gemfiles/*.lock
Gemfile.lock
tmp
.DS_Store
.ruby-version
*.gem
