<!DOCTYPE html>
<html>
<head>
  <title>QuickbooksWebConnector</title>
  <%= stylesheet_link_tag    "quickbooks_web_connector/application", :media => "all" %>
  <%= javascript_include_tag "quickbooks_web_connector/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
